//Color Variables
$primary:#0071bb;
$text-color:#99C6E4;
$tab-color: #99bee6;
$darkprimary: #0046a3;
$light-white: #ECEFF0;

$editTaskTitleFont:#666666;
$white:#fff;
// login images
$login-image: url('/assets/images/sprite-images.png');
$login-icon-width: 40px;
$login-icon-height: 40px;
//general variable
$transition:0.5s all ease-in-out 0s;
