<div class="container">
    <div class="row">

        <mat-card class="col-sm" style="max-width: 400px;">
            <div>
                <div>Draw</div>
                <div>
                    <input type="color" id="drawing-color" [(ngModel)]="colorCode" (change)="colorChange()">
                    <button mat-button id="switchMode" (click)="switchModeClick()">
                        <mat-icon>
                            create
                        </mat-icon>
                    </button>
                    <button mat-button id="switchMode" (click)="cropClick()">
                        <mat-icon>
                            crop
                        </mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <mat-slider min="1" max="100" step="1" value="10" (input)="changeBrush($event)"></mat-slider>
                <div>Add text</div>
                <div>
                    <div>
                        <div>
                            <input type="text" [(ngModel)]="textString">
                            <span>
                                <button mat-button id="add-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Add text" (click)="addText()">
                                    <mat-icon>
                                        add
                                    </mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <button mat-button data-toggle="tooltip" data-placement="bottom" title="Export to image"
                        type="button" (click)="rasterize();">
                        <mat-icon>
                            save_alt
                        </mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
        <div class="col-sm">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>